1_javascript/node_modules/
2_typescript/node_modules/
1_javascript/9_npm_package_manager/1_first_npm_package_security_tools/node_modules/
1_javascript/10_lesson_streams/1_lesson_native_streams/big.file
1_javascript/10_lesson_streams/1_lesson_native_streams/outout.txt
.vscode